

body{
    font-family: 'Mulish', sans-serif;
    margin: 0;

    
}

section{
    background-color: white;
    justify-content: center;
    align-items: center;
}

.hero{
    background-color: #222831;
    height: 100vh;

    color: white;
    font-size: 40px;
    justify-self: center;
    align-items: center;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content:center;
    align-items: center;
    margin-left: 5rem;
    
}

.hero-text{
    margin-bottom: 200px;
    text-align: center;
}


nav{
    background-color: #1a1d22;
    display: flex;
    justify-content: space-between;
}
ul{
    margin-top: 50px;
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}



li{
    /* width: 200px; */
    text-decoration: none;
}
h1{
    font-size: 90px;
    margin: 0;
}
h2{
    font-size: 50px;
}
p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.about-p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    padding-left: 20px;
}

.about-h{
    font-size: 50px;
    padding-left: 20px;
}



.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #1a1d22;
    transition: width 400ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    height: 100%;
}

.nav-item{
    width: 50px;
    padding: 20px;
    
}

.nav-item:last-child{
    margin-top: auto;
    margin-bottom: 20px;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 2rem;
    fill: #808080;
    text-decoration: none;
    filter: grayscale(100%)opacity(0.7);
    transition: 600ms ease;
}

.nav-link:hover{
    filter: grayscale(0%)opacity(1);
    fill: white;

}

.link-text{
    display: none;
    margin: 3rem;
    align-items: center;
    text-align: left;
}

.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5;
}

.navbar:hover{
    width: 19rem;
}


.navbar:hover .link-text{
    display: block;
    align-items: center;

}


.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.3rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg{
    transform: rotate(0deg);
    transition: transform 600ms;
}

.navbar:hover .logo svg{
    transform:rotate(-180deg);

}


.button{
    width:500px;
    height: 52px;
    border-radius: 30px;
    background-color: #00ADB5;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover{
    transition: 600ms ease;
    background-color: #99f4f9;
}

.button:active{
    background-color: #a9a9a9;
    color: #808080
}
.socials{
    padding-bottom: 200px;
}

.socialIcons{
    margin: 20px;
}
.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

a{
    text-decoration: none;
    color: white;
}



